.home {
    background-image: url('https://img1.baidu.com/it/u=1280639023,1824803564&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800');
    height: calc(100% - 46px);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}