.layoutheader {
    .top {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        justify-content: space-between;
        /* padding: 0 10px; */
        padding-right: 15px;
        .right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 20px;
            }
        }
    }
    .bottom {
        padding-bottom: 15px;
    }
}