.fathercontainer {
    position: relative;
    .datamonitor {
        // height: 700px;
        // overflow-y: scroll;
        padding-top: 30px;
    }
    .ant-pagination {
        padding-top: 20px;
        padding-left: 250px;
    }
}