.fathercontainer {
    position: relative;
    .datamonitor {
        // height: 700px;
        // overflow-y: scroll;
        padding-top: 30px;
    }
    .page {
        position: absolute;
        padding-top: 20px;
        right: 0;
    }
}

