.formcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img1.baidu.com/it/u=399530995,2749428631&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800');
    background-repeat: no-repeat;
    background-size: cover;
}